<header>
<div>
    <img width="250px" src="/images/3D-Print-Store-Logo.svg">
  </div>
  <div>
    <nav>
      <a href="/" class="active">Home</a>
      <a href="#">Store</a>
      <a href="#">Contact</a>
      <a href="#">Cart</a>
    </nav>
  </div>
</header>